{%- comment -%} Collection Slider Color mayank {%- endcomment -%}
{% style %}
  .collection-feature-slider .collection-slider-heading-wrapper .collection-slider-title {
    color: {{ section.settings.section_title_color}}}
{% endstyle %}
<div class="collection-feature-slider">
  <div class="container">
    {%- unless section.settings.section_title == blank -%}
      <div class="collection-slider-heading-wrapper">
        <h3 class="collection-slider-title text-{{section.settings.text_alignment}}">{{ section.settings.section_title }}</h3>
      </div>
    {%- endunless -%}
    <div class="collection-feature-slider-wrapper swiper">
      <div class="swiper-wrapper">
        {% for product in collections[section.settings.collection_handle].products limit: 12 %}
          <div class="product-slide swiper-slide">
            <a href="{{ product.url }}">
              <div class="product-image-wrapper">
                <div class="image">
                  {%- render 'srcset'
                    , src_alt: product.featured_image.alt,
                    src_name: product.featured_image,
                    load_blur: true -%}
                </div>
                {% if product.images[1] != blank %}
                  <div class="secondary-image">
                    {%- render 'srcset'
                      , src_alt: product.images[1].alt,
                      src_name: product.images[1],
                      load_blur: true -%}
                  </div>
                {% endif %}
              </div>
            </a>
            <div class="product-details-wrapper">
              <div class="product-name">
                <p>{{ product.title }}</p>
              </div>
              <div class="product-price-wrapper">
                <div class="price">
                  <p>{{ product.price | money }}</p>
                </div>
                {% if product.compare_at_price != blank %}
                  <div class="compare-price">
                    <p>{{ product.compare_at_price | money }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev swiper-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.57 7.354a.77.77 0 0 0-1.088 0L9.104 10.73a1.795 1.795 0 0 0 0 2.538l3.378 3.377a.77.77 0 0 0 1.088-1.087l-3.378-3.378c-.1-.1-.1-.262 0-.362L13.57 8.44c.3-.3.3-.787 0-1.087Z" fill="#5d890a"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.538c-2.17 0-5.134.2-6.985.343a1.228 1.228 0 0 0-1.134 1.134C3.738 6.866 3.538 9.83 3.538 12s.2 5.134.343 6.985a1.228 1.228 0 0 0 1.134 1.134c1.851.143 4.816.343 6.985.343 2.17 0 5.134-.2 6.985-.343a1.229 1.229 0 0 0 1.134-1.134c.143-1.851.343-4.816.343-6.985 0-2.17-.2-5.134-.343-6.985a1.228 1.228 0 0 0-1.134-1.134c-1.851-.143-4.816-.343-6.985-.343Zm-7.104-1.19C6.748 2.203 9.766 2 12 2c2.235 0 5.252.204 7.104.347a2.767 2.767 0 0 1 2.549 2.55C21.796 6.747 22 9.764 22 12c0 2.235-.204 5.252-.347 7.104a2.767 2.767 0 0 1-2.55 2.549c-1.85.143-4.868.347-7.103.347-2.235 0-5.252-.204-7.104-.347a2.767 2.767 0 0 1-2.549-2.55C2.204 17.253 2 14.235 2 12c0-2.235.204-5.252.347-7.104a2.767 2.767 0 0 1 2.55-2.549Z" fill="#5d890a"/></svg>
      </div>
      <div class="swiper-button-next swiper-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.43 7.354c.3-.3.788-.3 1.088 0l3.378 3.377a1.795 1.795 0 0 1 0 2.538l-3.378 3.377a.77.77 0 0 1-1.088-1.087l3.378-3.378c.1-.1.1-.262 0-.362L10.43 8.44a.77.77 0 0 1 0-1.087Z" fill="#5d890a"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.538c-2.17 0-5.134.2-6.985.343a1.228 1.228 0 0 0-1.134 1.134C3.738 6.866 3.538 9.83 3.538 12s.2 5.134.343 6.985a1.228 1.228 0 0 0 1.134 1.134c1.851.143 4.816.343 6.985.343 2.17 0 5.134-.2 6.985-.343a1.229 1.229 0 0 0 1.134-1.134c.143-1.851.343-4.816.343-6.985 0-2.17-.2-5.134-.343-6.985a1.228 1.228 0 0 0-1.134-1.134c-1.851-.143-4.816-.343-6.985-.343Zm-7.104-1.19C6.748 2.203 9.766 2 12 2c2.235 0 5.252.204 7.104.347a2.767 2.767 0 0 1 2.549 2.55C21.796 6.747 22 9.764 22 12c0 2.235-.204 5.252-.347 7.104a2.767 2.767 0 0 1-2.55 2.549c-1.85.143-4.868.347-7.103.347-2.235 0-5.252-.204-7.104-.347a2.767 2.767 0 0 1-2.549-2.55C2.204 17.253 2 14.235 2 12c0-2.235.204-5.252.347-7.104a2.767 2.767 0 0 1 2.55-2.549Z" fill="#5d890a"/></svg> 
      </div>

    </div>

  </div>
</div>
{%- schema -%}
  {
    "name": "Collection slider",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title"
      },
      {
        "type": "color",
        "id": "section_title_color",
        "label": "Section title color"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text  alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }, {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "collection",
        "id": "collection_handle",
        "label": "Select collection"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "ADD TO BAG"
      }
    ],
    "presets": [
      {
        "name": "Collection Slider",
        "category": "Collection"
      }
    ]
  }
{%- endschema -%}